name: Production Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      MASTERCHATAI_TOKEN: ${{ secrets.MASTERCHATAI_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install --global vercel

      - name: Pull Vercel Project Information
        run: vercel pull --yes --environment=production --token="$MASTERCHATAI_TOKEN"

      - name: Build Project Artifacts
        run: vercel build --prod --token="$MASTERCHATAI_TOKEN"

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token="$MASTERCHATAI_TOKEN"